{% extends "layout.html" %}
{% block title %} Clubs {% endblock %}
{% block content %}
        <table class="table">
            <tr>
                <th>Club Name</th>
                <th>Club Description</th>
            </tr>
            {% if (len>0) %}
            {% for i in range(0, len) %}
            <tr>
                <td>{{clubs[i][1]}}</td>
                <td>{{clubs[i][2]|truncate(400)}}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
{% endblock %}