{% extends "layout.html" %}
{% block title %} Clubs {% endblock %}
{% block content %}
        <table class="table">
            <tr>
                <th>Club Name</th>
                <th>Club Description</th>
            </tr>
            <tr>
                {% for element in club %}
                <td>{{element}}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Member Names</th>
                <th>Member E-mails</th>
            </tr>
            <tr>
                {% for element in members[1:] %}
                <td><a href="{{ url_for('student_page', member_id=members[0]) }}">{{element}}</a></td>
                {% endfor %}
            </tr>
        </table>
{% endblock %}