{% extends "layout.html" %}
{% block title %} Event Creation {% endblock %}
{% block content %}
        <h1 class="title">Create an event for your club: {{club[1]}}</h1>
        <form action="" method="post" name="club_create">
            <div class="field">
                <label for="name" class="label">Event Name</label>
                <div class="control">
                    <input type="text" name="name" class="input" required="required" placeholder="Put your club's name here."/>
                </div>
            </div>
            <div class="field">
                <label for="description" class="label"></label>
                <div class="control">
                    <textarea class="textarea" name="description" placeholder="Describe what your club is about! (optional)"></textarea>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-primary">Create</button>
                </div>
            </div>
        </form>
{% endblock %}