<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>ITU SCMS - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='scms.css') }}"/>
    </head>
    <body>
        <header>
            <nav class="navbar bg-blue" aria_label="main navigation">
                <div class="navbar-brand">
                    <span class="navbar-item bg-cyan">
                        <a class="navbar-item" href="{{ url_for('home_page') }}">Home Page</a>
                    </span>
                    {% if not current_user.is_authenticated %}
                    <span class="navbar-item navbar-off">
                        <a class="navbar-item" href="{{ url_for('register_page') }}">Register</a>
                    </span>
                    <span class="navbar-item navbar-off">
                        <a class="navbar-item" href="{{ url_for('login_page') }}">Log in</a>
                    </span>
                    {% else %}
                    <span class="navbar-item navbar-off">
                        <a class="navbar-item" href="{{ url_for('login_page') }}">Log out</a>
                    </span>
                    {% endif %}
                    <span class="navbar-item navbar-off">
                        <a class="navbar-item" href="{{ url_for('clubs_page') }}">Club List</a>
                    </span>
                    <span class="navbar-item navbar-off">
                        <a class="navbar-item" href="{{ url_for('create_club') }}">Create a Club</a>
                    </span>
                    <span class="navbar-item navbar-off">
                        <a class="navbar-item" href="{{ url_for('students_page') }}">Student List</a>
                    </span>
                </ul>
            </nav>
        </header>
        <main>
            <section class="section">
                <div class="content">
                    {% block content %}{% endblock %}
                </div>
            </section>
        </main>
    </body>
</html>